<head>
    <link rel="stylesheet" href="app.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
  <h1>JavaScript Questions API</h1> 
  <h2>An API for JavaScript Questions</h2>
  
  <h4>This is an API for a currently work in progress React Native Application that allows JavaScript developers test their knowledge about a variety of JavaScript topics.</h4>
  <h4>The tool will provide feedback on a developer's knowledge and expose the areas that need study. The app will allow a user to take a timed test according to a specific experince level and technology, and optionally compete against other developers.</h4>        
  <h4>All developers are welcome to contribute to the project, either by helping to build the app, or by extending the questions.</h4>  
  <h2>To learn more about contributing, contact Johann at <i>schuster.dev@gmail.com</i></h2>
    <ul class="list">
        
    </ul>    
    
  <script src="app.js"></script>    
</body>

<!-- 
TODO: 
add link to api 
add instructions to contribute a question
add a list of current questions
add github repo
delete all questions in db and add in real ones

url: https://js-questions-api.herokuapp.com/
-->