body {
    font-family: 'Roboto';
    color: #333;
    background-color: #bfd7ff;
    text-align: center;
    padding: 50px;
}

ul {
    list-style: none;
}

.question {
    border-bottom: 1px solid black;
}

.object {
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}